@page
@model WebApp.Pages.InformationModel
@{
}

<div class="container1">
    <section class="media-window">
        <h1>Information about our zoo</h1>
        <img src="~/media/bears.jpg" />
    </section>
    <section class="content-window-col">
        <section class="content-items-small">
            <h3>Opening Times</h3>
            <p>Zoo Bazaar is open every day of the year except for Christmas Day.</p>
            <ul>
                <li>Winter season (September 1 - May 31): 9am - 5pm</li>
                <li>Summer season (June 1 - August 31): 10am - 6pm</li>
            </ul>
            <p>All outdoor animal exhibits will close one hour prior to the zoo's posted closing time, and all animals will be moved indoors to their enclosures at that time.</p>
        </section>
        <section class="content-items-small">
            <h3>Contact Us</h3>
            <p>Address: Birdstreet 1, Eindhoven, Netherlands</p>
            <p>Phone: (+31) 6-4561-78904</p>
            <p>Email: info@zoobazaar.com</p>
            <p>Follow us on social media:</p>
            <ul>
                <li><a href="https://www.facebook.com/zoobazaar">Facebook</a></li>
                <li><a href="https://twitter.com/zoobazaar">Twitter</a></li>
                <li><a href="https://www.instagram.com/zoobazaar/">Instagram</a></li>
            </ul>
        </section>
        <section class="content-items-small">
            <h2>Getting to Zoo Bazaar</h2>
            <p>Zoo Bazaar is easily accessible by various means of transportation:</p>
            <ul>
                <li><strong>Train:</strong> The zoo is located near the <em>Central Station</em>, which is a major hub for local and regional trains.</li>
                <li><strong>Bus:</strong> Several bus lines stop at the nearby <em>Zoo Stop</em>, including lines 12, 34, and 56.</li>
                <li><strong>Taxi:</strong> Taxis are available at taxi stands throughout the city and can drop you off directly at the zoo entrance.</li>
                <li><strong>Bicycle:</strong> The zoo is located near several major bike paths, and bike racks are available near the entrance for visitors who choose to bike.</li>
                <li><strong>Car:</strong> There is ample parking available at the zoo, and the entrance is located directly off the main road.</li>
                <li><strong>Walking:</strong> The zoo is located in a pedestrian-friendly area and is within walking distance of many nearby attractions.</li>
            </ul>
        </section>
        <section class="content-items-small">
            <h3>No pets allowed</h3>
            <p>We kindly remind our visitors that pets are not allowed inside the zoo premises. This is to ensure the safety and well-being of both our animals and visitors. Some of our animals may be easily disturbed by the presence of pets and could cause them stress, while other animals may be predators to some common household pets, putting them at risk. We appreciate your cooperation in adhering to this rule and hope you can understand the reasoning behind it.</p>
        </section>
        <section class="content-items-small-centered">
            <h3>Plan your visit</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9945.504994589133!2d5.4796619!3d51.4512481!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c6d92199730073%3A0x1c98f3a0d8ee087b!2sFontys!5e0!3m2!1sen!2snl!4v1679546408381!5m2!1sen!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </section>
</div>
