@page
@model WebApp.Pages.NewsModel
@{
}

<div class="container-news">
    <section class="news-title">
        <h1>Welcome to the dummy news page</h1>
        <p>Monday, 12 March 1867</p>
    </section>
    <section class="news-image">
        <img src="~/media/dummy.jpg" />
    </section>
    <section class="news-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam luctus mauris, sit amet vulputate leo accumsan sit amet. Maecenas rutrum sagittis ex vel laoreet. Mauris nec velit vel massa congue posuere non et elit. Quisque mollis purus sed neque gravida consequat. Ut nisi risus, tristique eu nunc ut, pharetra volutpat magna. Donec luctus, diam id dictum finibus, nisi mauris fermentum justo, at imperdiet libero nulla eu metus. Fusce sem erat, lobortis a lectus sed, dignissim commodo enim. Nulla lobortis sodales sagittis. Sed ultrices quam eros, at faucibus eros posuere quis. Donec in aliquet dolor, quis porta odio. Etiam interdum sagittis turpis. Vivamus laoreet pharetra lacus nec rutrum. Nulla tincidunt nibh in augue aliquet, ut mollis lacus fermentum. Nunc scelerisque turpis sit amet nibh bibendum iaculis. Vestibulum sollicitudin nisl et ultrices feugiat. Vestibulum porta odio tortor, condimentum pharetra tortor lobortis ultricies.</p>
        <p>Quisque nec euismod sapien, malesuada consequat enim. In hac habitasse platea dictumst. In venenatis sollicitudin justo, sed accumsan libero commodo nec. Suspendisse potenti. Integer dictum eleifend lectus. Praesent mattis quam auctor, luctus lorem tempus, blandit nisl. Phasellus vitae est dolor. Quisque tempus turpis et leo accumsan, vel posuere felis tincidunt. In nec consectetur justo, a mattis orci. Vestibulum mollis ex magna, sed vehicula tellus laoreet nec. Nulla egestas nisl nec dictum congue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam lectus leo, egestas id diam in, tempor rutrum mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus consequat quis odio eget porttitor. Integer lorem mauris, dictum nec sem vel, ullamcorper posuere mauris.</p>
        <p>Quisque sit amet faucibus leo. Proin sollicitudin egestas urna, in porta enim volutpat a. Nam in enim id eros vulputate vulputate quis ac ante. Fusce in augue sed magna mollis sagittis ut id lectus. Cras quis orci scelerisque, dignissim justo non, faucibus tortor. Aenean scelerisque, nisl varius consectetur porta, purus mi sodales purus, eget fermentum ex urna in mauris. Aliquam rhoncus ante ac dolor cursus efficitur. Praesent accumsan elementum accumsan. Fusce a vulputate velit. Duis egestas ligula nec purus hendrerit, eget bibendum diam hendrerit. Nunc maximus magna risus, eget vulputate ipsum eleifend eu. Fusce ullamcorper nulla at leo sodales, nec rhoncus turpis consequat. Nulla elementum bibendum sapien nec sodales. Pellentesque fringilla porta sem id aliquam. Sed ac tortor et velit mollis dapibus. Morbi ullamcorper felis ut enim blandit, at blandit lorem dignissim.</p>
        <img src="~/media/dummy.jpg" />
        <p>Maecenas sed egestas est. Integer sit amet diam convallis, blandit arcu vitae, convallis metus. Donec gravida, turpis nec scelerisque pellentesque, risus risus pharetra nisl, ut iaculis eros eros sit amet justo. Curabitur scelerisque, lorem vehicula bibendum sagittis, elit dui pretium leo, sed cursus nisl velit iaculis nisl. Duis blandit interdum nibh, et egestas purus volutpat in. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent sagittis pulvinar neque, at hendrerit lorem ullamcorper at. Nulla eget ligula dignissim, molestie sem et, sollicitudin lacus.</p>
        <p>Quisque sit amet faucibus leo. Proin sollicitudin egestas urna, in porta enim volutpat a. Nam in enim id eros vulputate vulputate quis ac ante. Fusce in augue sed magna mollis sagittis ut id lectus. Cras quis orci scelerisque, dignissim justo non, faucibus tortor. Aenean scelerisque, nisl varius consectetur porta, purus mi sodales purus, eget fermentum ex urna in mauris. Aliquam rhoncus ante ac dolor cursus efficitur. Praesent accumsan elementum accumsan. Fusce a vulputate velit. Duis egestas ligula nec purus hendrerit, eget bibendum diam hendrerit. Nunc maximus magna risus, eget vulputate ipsum eleifend eu. Fusce ullamcorper nulla at leo sodales, nec rhoncus turpis consequat. Nulla elementum bibendum sapien nec sodales. Pellentesque fringilla porta sem id aliquam. Sed ac tortor et velit mollis dapibus. Morbi ullamcorper felis ut enim blandit, at blandit lorem dignissim.</p>
        <p>Quisque sit amet faucibus leo. Proin sollicitudin egestas urna, in porta enim volutpat a. Nam in enim id eros vulputate vulputate quis ac ante. Fusce in augue sed magna mollis sagittis ut id lectus. Cras quis orci scelerisque, dignissim justo non, faucibus tortor. Aenean scelerisque, nisl varius consectetur porta, purus mi sodales purus, eget fermentum ex urna in mauris. Aliquam rhoncus ante ac dolor cursus efficitur. Praesent accumsan elementum accumsan. Fusce a vulputate velit. Duis egestas ligula nec purus hendrerit, eget bibendum diam hendrerit. Nunc maximus magna risus, eget vulputate ipsum eleifend eu. Fusce ullamcorper nulla at leo sodales, nec rhoncus turpis consequat. Nulla elementum bibendum sapien nec sodales. Pellentesque fringilla porta sem id aliquam. Sed ac tortor et velit mollis dapibus. Morbi ullamcorper felis ut enim blandit, at blandit lorem dignissim.</p>
        <img src="~/media/dummy.jpg" />
        <p>Quisque sit amet faucibus leo. Proin sollicitudin egestas urna, in porta enim volutpat a. Nam in enim id eros vulputate vulputate quis ac ante. Fusce in augue sed magna mollis sagittis ut id lectus. Cras quis orci scelerisque, dignissim justo non, faucibus tortor. Aenean scelerisque, nisl varius consectetur porta, purus mi sodales purus, eget fermentum ex urna in mauris. Aliquam rhoncus ante ac dolor cursus efficitur. Praesent accumsan elementum accumsan. Fusce a vulputate velit. Duis egestas ligula nec purus hendrerit, eget bibendum diam hendrerit. Nunc maximus magna risus, eget vulputate ipsum eleifend eu. Fusce ullamcorper nulla at leo sodales, nec rhoncus turpis consequat. Nulla elementum bibendum sapien nec sodales. Pellentesque fringilla porta sem id aliquam. Sed ac tortor et velit mollis dapibus. Morbi ullamcorper felis ut enim blandit, at blandit lorem dignissim.</p>
    </section>
    <section class="content-section-news">
        <h3>More news for you</h3>
        <div class="news-container">
            <div class="news-card">
                <img src="~/media/dummy.jpg" />
                <a href="/news">Dummy news<br />&#x2192;Read more</a>
            </div>
            <div class="news-card">
                <img src="~/media/dummy.jpg" />
                <a href="/news">Dummy news<br />&#x2192;Read more</a>
            </div>
            <div class="news-card">
                <img src="~/media/dummy.jpg" />
                <a href="/news">Dummy news<br />&#x2192;Read more</a>
            </div>
        </div>
    </section>
</div>