@page
@model WebApp.Pages.ParkRulesModel
@{
}

<main class="container1">
    <section class="media-window">
        <h1>Our Park Rules</h1>
            <img src="~/media/tiger.png" />
    </section>
    <section class="content-window-col">
        <section class="content-items-small">
            <p>We're so glad you've decided to spend some time with us and our animals. Before you begin your adventure, we'd like to remind you of the importance of following our rules. Our rules ensure the safety and well-being of our animals, guests, and staff. By following these rules, you're helping us create a positive and enjoyable experience for everyone. Thank you for your cooperation, and we hope you have a great time at the zoo!</p>
        </section>
        <section class="content-items-small">
            <h3>Animals</h3>
            <p>We are committed to providing our animals with the best possible care, including precise diets and plenty of space to roam. We ask that all visitors be respectful of the animals and refrain from feeding them. Even if you think you're giving them a treat, human food can be harmful or even fatal to many species. We appreciate your cooperation in helping us ensure the safety and well-being of our beloved animal residents.</p>
        </section>
        <section class="content-items-small">
            <h3>Plants</h3>
            <p>Here at our zoo, we take pride in the beauty and diversity of our exotic and foreign plants. We understand that they are a fascinating attraction and add to the overall experience of our visitors. However, we kindly ask our guests to admire them from a distance and refrain from breaking off parts to take with them. Not only does this harm the plants, but it also affects the animal's environment and the visual enjoyment of other visitors. We take plant protection seriously and charges will be made if caught in the act. Let's work together to ensure the preservation of our natural surroundings and the continued enjoyment of everyone.</p>
        </section>
        <section class="content-items-small">
            <h3>Opening times & Entrance</h3>
            <p>Our zoo is open every day from 10am to 6pm, and we welcome visitors to come and enjoy all that we have to offer. However, please note that entrance will only be permitted with a valid entry ticket, which can be purchased online or at the zoo entrance. During your visit, please keep your ticket with you at all times so that our security team can confirm your valid entry if necessary. We appreciate your cooperation in helping us maintain a safe and enjoyable environment for all visitors.</p>
        </section>
        <section class="content-items-small">
            <h3>Parking</h3>
            <p>
                We have plenty of parking spots available for our visitors, and we want to ensure that everyone can park safely and conveniently. We kindly ask that visitors keep their speed below 15km/h when driving through the parking area. This is for the safety of everyone, including pedestrians and other vehicles.

                We have patrolling employees on the parking area who are available to help visitors find spots and regulate traffic, so please follow their instructions. We advise visitors to properly close their cars and shut all windows to make sure their belongings stay safe. Please be aware that the zoo is not responsible for any loss or damage to your belongings, including damage caused by natural occurrences such as storms.
            </p>
        </section>
        <section class="content-items-small">
            <h3>Behaviour</h3>
            <p>
                At our zoo, we take the safety and comfort of all our visitors very seriously. As such, we kindly ask that all visitors adhere to certain behavioural rules during their visit. This includes refraining from any verbal or physical abuse towards other visitors or zoo employees. Any sexually suggestive or inappropriate behaviour will not be tolerated. Additionally, the use of alcohol or drugs on the premises is strictly prohibited.

                We reserve the right to refuse entry or to ask visitors to leave the premises if they exhibit behaviour that is deemed to be inappropriate or potentially harmful to others. Our employees are trained to monitor and regulate visitor behaviour to ensure the safety and enjoyment of all our guests. We kindly ask that all visitors follow their directions and instructions.
            </p>
        </section>
        <section class="content-items-small">
            <h3>Safety</h3>
            <p>
                Firstly, smoking is not allowed anywhere in the zoo. Additionally, please do not bring anything that could potentially cause a fire. This includes but is not limited to, fireworks, matches, and lighters. We want to ensure the safety of both our visitors and our animals.

                Please also note that pets are not allowed within the zoo premises. This is because they might disturb the animals and potentially cause harm. We hope for your understanding in this matter.

                We also ask visitors to refrain from playing with balls, frisbees or any other objects that could potentially be thrown into the animal enclosures. This could cause harm to the animals and potentially endanger them. We kindly ask you to play with those objects outside the zoo premises.

                Lastly, please refrain from any behavior that could be considered verbally or sexually abusive towards other visitors or employees. Also, the consumption of alcohol within the zoo premises is not allowed.

                Please note that our employees are allowed to remove visitors from the premises if their behavior is deemed unfit and potentially harmful to other visitors or the animals.
            </p>
        </section>
        <section class="content-items-small">
            <h3>Trash</h3>
            <p>We take the cleanliness of our zoo seriously, and we kindly ask our visitors to do the same. Please be mindful of the trash bins located throughout the zoo and dispose of any waste properly. Littering is not allowed, and anyone caught doing so may be fined. We appreciate your cooperation in keeping our zoo clean and enjoyable for everyone.</p>
        </section>
        <section class="content-items-small">
            <h3>Damage</h3>
            <p>At our zoo, we take great care to maintain a safe and enjoyable environment for our visitors and our animals. However, accidents can happen, and damage may occur. If you notice anything out of place or damage done to the zoo, we kindly ask that you alert the closest employee as soon as possible. This helps us to quickly identify and address any potential safety hazards, as well as ensure the continued wellbeing of our animals. We appreciate your cooperation in helping us maintain a safe and enjoyable environment for all.</p>
        </section>
        <section class="content-items-small">
            <h3>Photo's & Video's</h3>
            <p>We understand that many visitors want to capture their experiences in our zoo by taking pictures or videos of the animals. However, we kindly ask that visitors refrain from using flash photography as it can cause serious harm or distress to certain animals. Additionally, visitors are asked to be mindful of their camera use and to not disturb the animals in any way. As long as visitors follow these guidelines, they are welcome to capture their special moments in our zoo.</p>
        </section>
    </section>
</main>
