@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container1">
    <section class="media-window">
        <h1>Our privacy policy</h1>
            <img src="~/media/trash_panda.png" />
    </section>
    <section class="content-window-col">
        <section class="content-items-small">
                <p>At Zoo Bazaar, we take your privacy seriously. This policy outlines what personal information we collect from you and how we use it.</p>
                <br />
                <br />
                <h3>Information We Collect</h3>
            <p>We may collect the following personal information when you visit our website, purchase tickets, or participate in our activities:
                <br />
                Name
                Email address
                Phone number
                Mailing address
                Credit card information
                IP address
                Other information you voluntarily provide to us
                We also use cookies and other tracking technologies to collect information about your browsing behavior on our website.</p>
                <br />
                <br />
                <h3>How We Use Your Information</h3>
            <p>We may use your personal information for the following purposes:
                <br />
                To process ticket purchases and other transactions
                To send you promotional emails or newsletters (you can opt out at any time)
                To improve our website and services
                To comply with legal obligations
            We may share your personal information with third-party service providers who assist us in providing our services, such as payment processors and email marketing platforms. We may also share your information with law enforcement or other government agencies if required by law.</p>
                <br />
                <br />
                <h3>Security</h3>
                <p>We take reasonable measures to protect your personal information from unauthorized access, use, or disclosure. However, please note that no method of transmission over the internet or electronic storage is 100% secure.</p>
                <br />
                <br />
                <h3>Your Choices</h3>
            <p>You can choose not to provide us with your personal information, but this may limit your ability to use some of our services.
                <br />
                <br />
                You can also unsubscribe from our promotional emails or newsletters at any time by clicking the "unsubscribe" link at the bottom of the email.
                <br />
                <br />
                Accessing and Updating Your Information
                <br />
            You can request to access, update, or delete your personal information by contacting us at privacy@zoobazaar.com. Please note that we may need to retain certain information for legal or administrative purposes.</p>
                <br />
                <br />
                <h3>Changes to this Policy</h3>
            <p>We may update this privacy policy from time to time. We will notify you of any changes by posting the new policy on our website.</p>
                <br />
                <br />
                <h3>Contact Us</h3>
            <p>If you have any questions or concerns about this privacy policy, please contact us at privacy@zoobazaar.com.</p>
        </section>
    </section>
</div>
