@page
@model WebApp.Pages.TermsOfServiceModel
@{
}

<div class="container1">
    <section class="media-window">
        <h1>Our terms of service</h1>
            <img src="~/media/red_panda.png" />
    </section>
    <section class="content-window-col">
        <section class="content-items-small">
            <p>By accessing and using our website, you agree to comply with and be bound by the following terms and conditions:</p>
            <h3>Use of Website</h3>
            <p>You agree to use our website only for lawful purposes and in a way that does not infringe the rights of, restrict or inhibit anyone else’s use and enjoyment of the website.</p>
            <h3>Intellectual Property</h3>
            <p>The content of our website, including text, graphics, images, logos, and software, is protected by applicable intellectual property laws and is owned by or licensed to Zoo Bazaar.</p>
            <h3>Limitation of Liability</h3>
            <p>Zoo Bazaar will not be liable for any damages arising from the use or inability to use our website or from any information, content, materials, or products included on our website.</p>
            <h3>Indemnification</h3>
            <p>You agree to indemnify and hold harmless Zoo Bazaar and its employees, agents, and affiliates from and against any and all claims, damages, liabilities, costs, and expenses arising from your use of our website.</p>
            <h3>Changes to Terms of Service</h3>
            <p>Zoo Bazaar reserves the right to modify these terms of service at any time without notice. By continuing to use our website after any changes are made, you agree to be bound by the updated terms of service.</p>
        </section>
    </section>
</div>