<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>

    </header>

    <div class="container">
        <nav>
            <a href="/">
            <img src="static/resources/logo.png" class="logo" alt="">
            </a>
            <ul>
                <li><a href="/"class="white-menu">Home</a></li>
                <li><a href="/order"class="white-menu">Order</a></li>
                <li><a href="/about"class="white-menu">About us</a></li>
            </ul>
        </nav>

        <div class="col">
            <h1>The Traditional Pizza<br> You Love</h1>
            <a href="order" class="ordernow-button" >ORDER NOW</a>
            <video autoplay loop muted class="back-video-home">
                <source src="static/resources/videos.mp4" type="video/mp4">
            </video>
            <h3>Topped With The Best Goombas Around</h3>

        </div>

    </div>
    
    <script src="" async defer></script>
</body>
</html>